h1 {
    font-family: 'Roboto', sans-serif;
    Font-size: 50px;
    /*tamaño de la fuente*/
    /*color: rgb(238, 45, 77);
    /*color de la fuente*/
    /*background-color: rgb(2, 0, 1);
    /*fondo*/
    /*background: rgb(9,109,121);
    background: radial-gradient(circle, rgba(9,109,121,1) 35%, rgba(0,212,255,1) 100%);*/
    background: rgb(63,244,251);
    background: radial-gradient(circle, rgba(63,244,251,0.7259278711484594) 0%, rgba(252,70,107,1) 100%);
    
    text-align: center;
    /*alineación*/
    text-transform: uppercase;
    /*mayúscula*/
}

img {
    width: 270px;
    height: 250px;
    Padding: 5px;
    object-fit: left;
    Border: 5px solid black;
    /*borde del párrafo*/
    Margin-left: 450px;
    filter: grayscale(100%) sepia(38%);
-webkit-filter: grayscale(100%) sepia(38%);
-moz-filter: grayscale(100%) sepia(38%);
}

h3 {
    Font-size: 20px;
    /*tamaño de la fuente*/
    Font-family: Georgia;
    /*cambio de tipografía*/
}

h4{
column-count: 3; /*cantidad de columnas*/
    column-gap: 50px; /*separación entre columnas*/
    column-rule: 3px solid black; /*separacion de línea*/
    font-family: 'Raleway', sans-serif;
}


.destacados {
    Font-size: 25px;
    Color: rgb(173, 7, 34);
    text-transform: capitalize;
}

p {
    Font-weight: bold;
    Font-style: italic;
    Line-height: 25px;
    /*alto de linea*/
}


.caja {
    height: 250px;
    width: 1000px;
    padding: 40px;
    margin: 30px;
    text-align: center;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    /*box-shadow: 10px 10px 5px black;*/
    /*eje X - eje Y - blur - color*/
    /*si pogno -10 el valor es negativo entonces va para arriba o para la izquierda. Y sino serian valores positivos para derecha y abajo*/
    /* blur es el desenfoque. Si le pongo 50 queda super desenfocado, sino a menor valor menos desenfoque*/
    /*y el color basicamente define el color de la sombra*/

    /*border-radius: 20px 5px;
    /*los ordenes son 20 arrriba y abajo a la izquierda y 0 arriba y abajo a la derecha. O sea de acuerdo a como cambie los valores me van a quedar más o menos redondeados los bordes.*/
    /*border: 5px solid grey;*/


    box-shadow: 13px 17px 13px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 13px 17px 13px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 13px 17px 13px 3px rgba(0, 0, 0, 0.53);

    border-radius: 20px 5px;
    /*los ordenes son 20 arrriba y abajo a la izquierda y 0 arriba y abajo a la derecha. O sea de acuerdo a como cambie los valores me van a quedar más o menos redondeados los bordes.*/
    border: 5px solid rgb(25, 37, 48);
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.6);
    /*configuración de la sombra del texto*/

    border: 4px double #755f5b;
    /*borde con dos líneas*/
    font-family: 'Borel', cursive;


    column-count: 4; /*cantidad de columnas*/
    column-gap: 50px; /*separación entre columnas*/
    column-rule: 3px solid black; /*separacion de línea*/
}

.color {
    Font-size: 25px;
    Color: rgb(230, 180, 18);
    text-transform: capitalize;
}


.tamanio{
    font-size: 30px;
    color: black(190, 45, 45)  
    }
    
    .tamanio2{
        font-size: 20px;
        color: rgb(9, 13, 243)  
        }