.caja {
    height: 200px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    /*box-shadow: 10px 10px 5px black;*/
    /*eje X - eje Y - blur - color*/
    /*si pogno -10 el valor es negativo entonces va para arriba o para la izquierda. Y sino serian valores positivos para derecha y abajo*/
    /* blur es el desenfoque. Si le pongo 50 queda super desenfocado, sino a menor valor menos desenfoque*/
    /*y el color basicamente define el color de la sombra*/

    /*border-radius: 20px 5px;
    /*los ordenes son 20 arrriba y abajo a la izquierda y 0 arriba y abajo a la derecha. O sea de acuerdo a como cambie los valores me van a quedar más o menos redondeados los bordes.*/
    /*border: 5px solid grey;*/


    box-shadow: 13px 17px 13px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 13px 17px 13px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 13px 17px 13px 3px rgba(0, 0, 0, 0.53);

    border-radius: 20px 5px;
    /*los ordenes son 20 arrriba y abajo a la izquierda y 0 arriba y abajo a la derecha. O sea de acuerdo a como cambie los valores me van a quedar más o menos redondeados los bordes.*/
    border: 5px solid rgb(25, 37, 48);
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.6);
    /*configuración de la sombra del texto*/

    border: 4px double #755f5b;
    /*borde con dos líneas*/
    font-family: 'Roboto', sans-serif;
}

p{
    background-color: #af9086;
    column-count: 4; /*cantidad de columnas*/
    column-gap: 50px; /*separación entre columnas*/
    column-rule: 3px solid black; /*separacion de línea*/
    font-family: 'Raleway', sans-serif;

}

h1{
    color: rgb(60, 14, 228);
    font-family: 'Borel', cursive;
    /*font-family: 'Raleway', sans-serif; ES OTRA DE LAS FUENTES QUE ME GUSTÓ*/
}
.tamanio{
font-size: 30px;
color: black(190, 45, 45)  
}

.tamanio2{
    font-size: 25px;
    color: rgb(45, 190, 159)  
    }