    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        line-height: 15px;
        max-width: 300px;
    }
    
    header {
        background: white;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        border-top: double 3px rgb(19, 46, 68);
        padding: 5px;
        max-width: 300px;
    }
    
    
    .logo {
        border-radius: 5%;
        position: relative;
        left: 3px;
        max-width: 100px;
    }
    
    header h1 {
        font-family: 'Bebas Neue', sans-serif;
        position: relative;
        bottom: -10px;
        left: 10px;
        color: black;
        font-size: 15px;
        font-style: italic;
        display: inline-block;
    }
    /*encuadre de estructura principal*/
    .holder {
        margin: 0 auto;
        max-width: 300px;
    }
    
    
    nav {
        margin-bottom: 0px;
        position: relative;
        text-transform: uppercase;
        font-size: 5px;
        padding: 5px 0px 10px;
        max-width: 300px;
        margin: 0 auto;
    }
    
    nav ul {
        display: block;
        text-align: center;
        height: 30px;
    }
    
    nav ul li {
        display: block;
        padding: 4px 2px;
        float: left
    }
    
    nav ul li a {
        background-color: #011316;
        color: white;
        text-decoration: none;
        padding: 3px 6px;
        display: block;
        text-align: center;
        -moz-box-shadow: 1px 1px 2px #aaa;
        -webkit-box-shadow: 1px 1px 2px #aaa;
        box-shadow: 1px 1px 2px #aaa;
    }
    
    nav ul li a:hover {
        background-color: rgba(33, 162, 223, 0.3);
        text-shadow: 2px 7px 5px #0ac6e7;
        color: black;
    }
    
    nav ul li a.activo {
        background-color: #0bbcd3;
        color: black;
        text-decoration: wavy;
    }
    
    h2 {
        font-family: 'Bebas Neue', sans-serif;
        color: #4d0420;
    }
    
    .main {
        position: relative;
        max-width: 300px;
        margin: 0 auto;
    }
    
    /*Fotos del medio */
    .container{
        position:relative;
        display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .estilo {
        width: 200px;
        height: 300px;
        margin: center;
        float: left;
        border: 10px solid #fff;
        overflow: hidden; /*desbordamiento oculto*/
        position: relative;
        text-align: center;
        -webkit-box-shadow: 1px 1px 2px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;
        background: #fff url(../img/productos/) no-repeat center center;
     }
    
     .estilo .fotos {
        width: 30px;
        height: 50px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
     }
    
     .estilo img {
        width: 70px;
        height: 100px;
        display: block;
        position: relative;
     }
     .estilo h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 9px;
        padding: 3px;
        background: rgba(0, 0, 0, 0.8);
        margin: 2px 0 0 0;
     }
    
     .estilo p {
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 7px;
        position: relative;
        color: #fff;
      padding: 1px 2px 2px;
        text-align: center;
     }
    
     .estilo a.info {
        display: inline-block;
        text-decoration: none;
        padding: 1px 2px;
        font-size: 7px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        -webkit-box-shadow: 0 0 1px #000;
        -moz-box-shadow: 0 0 1px #000;
        box-shadow: 0 0 1px #000;
     }
    
     .estilo a.info:hover {
        -webkit-box-shadow: 0 0 5px #000;
        -moz-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
     }
    
    .estilo-home img {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
     }
     .estilo-home .fotos {
        background-color: rgba(255, 231, 179, 0.3);
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
     }
     .estilo-home h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background: transparent;
     /*   margin: 20px 40px 0px 40px;*/
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        color: #333;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
     }
     .estilo-home p {
        color: #333;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
     }
     .estilo-home a.info {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
     }
     .estilo-home:hover img {
        -webkit-transform: scale(10);
        -moz-transform: scale(10);
        -o-transform: scale(10);
        -ms-transform: scale(10);
        transform: scale(10);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
     }
     .estilo-home:hover .fotos {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
     }
     .estilo-home:hover h2,.estilo-home:hover p,.estilo-home:hover a.info {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
     }
    
    
    /*última parte del home*/
    .bienvenidos {
        width: 75%;
        padding-right: 9px;
        box-sizing: border-box;
    }
    
    .testimonios {
        width: 25%;
    }
    
    .columnas {
        justify-content: center;
        display: flex;
        justify-content: space-between;
        max-width: 300px;
    }
    
    .bienvenidos p {
        font-size: 9px;
    }
    
    .testimonio {
        background-color: #ccc;
        padding: 16px;
    }
    
    .testimonio .cita {
        font-weight: bold;
        font-style: italic;
        font-size: 9px;
        display: block;
        color: #4d0420;
    }
    
    .testimonio .auto {
        font-size: 9px;
        text-align: center;
        display: block;
        margin: 5px 0;
    }
    
    
    .instagram{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    border-radius: 10px 10px 10px 10px;
    }
    
    /*pie de página*/
    footer {
        background-color: #ccc;
        clear: both;
        color: #333;
        text-align: center;
        padding: 5px 0;
        margin-top: 10px;
    }
    
    footer p{
        font-size: 9px;
    }
    
    
    /* nosotros.html*/
    .historia p {
        font-size: 12px;
    }
    
    .personas {
        display: flex;
        justify-content: space-between;
    }
    
    .persona {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 18%;
        text-align: center;
        padding: 13px;
        box-sizing: border-box;
    }
    
    .persona img {
        border-radius: 50%;
        max-width: 60%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .persona h5,
    .persona h6 {
        margin: 0;
        font-weight: normal;
        color: #2e64a1
    }
    
    .persona h5 {
        font-size: 14px;
        margin-top: 5px;
    }
    
    .persona h6 {
        font-size: 11px;
        font-style: italic;
    }
    
    .persona p {
        color: #666;
        font-size: 10px;
    }
    
    
    /* sección servicios*/
    .servicio {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 16px;
        margin: 16px 0;
        display: flex;
        gap: 32px;
        align-items: center;
    }
    
    .servicio .info h4 {
        color: #2e64a1;
        font-weight: 500;
        font-style: italic;
        border-bottom: 1px solid #2e64a1;
        padding-bottom: 10px;
    }
    
    .servicio .info p {
        font-size: 13px;
        /*line-height: 19px;*/
    }
    
    .servicio img {
        border-radius: 13px;
        display: block;
        max-width: 225px;
    }
    
    .servicio:nth-child(even) {
        flex-direction: row-reverse;
    }
