h1 {
    color: rgb(228, 81, 81);
    /*color de la fuente*/
    background-color: black;
    /*fondo*/
    text-align: center;
    /*alineación*/
    text-transform: uppercase;
    /*mayúscula*/
}

h2 {
    Color: Green;
    Font-size: 30px;
    /*tamaño de la fuente*/
    Font-family: arial;
    /*cambio de tipografía*/
}

p {
    Color: blue;
    Font-weight: bold;
    Font-style: italic;
    Line-height: 25px;
    /*alto de linea*/
}


#caja {
    Background-color: lightblue;
    /*fondo*/
    Width: 300 px;
    /*ancho*/
    Height: 300px;
    /*alto*/
    Padding: 20px;
    /*espacios del párrafo, puede ser arriba, abajo, izquierda, derecho, cuando se pone padding aparece para elegir la opción. Se recomienda usar padding junto con box-sizing: border-box */
    Box-sizing: border-box;
   /*adecuar el padding a el alto y ancho establecido*/
   Margin-left: 30px;
    /*margen hacia afuera respecto del resto de los contenidos de la página. Cuando es left indica que deja un margen respecto del borde izquierdo de la pagina.*/
    Border: 5px solid black;
    /*borde del párrafo*/
}

/*Margen es hacia afuera y padding es hacia adentro. DIV CLASS Y DIV SPAN*/

.destacados {
    Font-size: 25px;
    Color: pink;
}